<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="freedom.nightq.baselibrary">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <application/>
</manifest>
